<div class="back-home">
    <div class="col-md-12 text-center">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 text-center">
                <img class="img-responsive" src="../../assets/logoPrincipal.png" alt="Prefeitura de Alambari"/>
                <p class="texto-protocolo-home">
                    <b>SISTEMA PROTOCOLO INTERNO</b>
                </p>
                <p class="texto-protocolo-msg">
                    <b>- NOVO PROTOCOLO -</b>
                </p>
            </div>
            <div class="col-md-3">
                <br>
                <br>
                <h2 class="texto-protocolo-info">
                    <b>PROTOCOLO Nº</b>
                </h2>
                <h1 class="align-box-protocol">
                    <span class="badge badge-danger">000/2018</span>
                </h1>
                <p class="texto-protocolo-info-m">
                    <b>Data emissão:</b><br>
                    04/03/2018 ás 15:19
                </p>
            </div>
        </div>
    </div>
    <div class="hold-transition skin-blue main-sidebar sidebar-collapse sidebar-mini">
        <aside class="main-sidebar">
            <ul class="sidebar-menu">
                <li class="header">Menu</li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-dashboard"></i>
                        <span>Painel de controle</span>
                    </a>
                </li>
                <li class="treeview active">
                    <a href="#">
                        <i class="fa fas fa-envelope"></i>
                        <span>Criar novo protocolo</span>
                    </a>
                </li>
                <li class="treeview active">
                    <a href="#">
                        <i class="fa far fa-envelope-open"></i>
                        <span>Protocolos Recebidos</span>
                    </a>
                </li>
                <li class="treeview active">
                    <a href="#">
                        <i class="fa fas fa-location-arrow"></i>
                        <span>Protocolos Enviados</span>
                    </a>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fas fa-id-badge"></i>
                        <span>Usuários</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="../../index.html">
                                <i class="fa fa-circle-o"></i>
                                Cadastrar usuário
                            </a>
                        </li>
                        <li>
                            <a href="../../index2.html">
                                <i class="fa fa-circle-o"></i>
                                Listar usuários
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fas fa-archive"></i>
                        <span>Diretorias</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="#">
                                <i class="fa fa-circle-o"></i>
                                Cadastrar diretoria
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-circle-o"></i>
                                Listar diretorias
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="treeview active">
                    <a href="#">
                        <i class="fa fas fa-lock"></i>
                        <span>Sair do Sistema</span>
                    </a>
                </li>
            </ul>
        </aside>
    </div>
    <div class="container back-home-white">
        <div class="row">
            <div class="col-md-9 mrg-left">
                <br>
                <div class="form-group">
                    <label for="inputDestinatario">Destinatário</label>
                    <select class="form-control" id="inputDiretoria">
                        <option>Diretoria 123</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="inputEnviado">Enviado por</label>
                    <input type="text" class="form-control" id="inputEnviado" placeholder="Nome do remetente do protocolo">
                </div>
                <div class="form-group">
                    <label for="inputEmailEnviado">E-mail enviado</label>
                    <input type="email" class="form-control" id="inputEmailEnviado" placeholder="E-mail a ser enviado o protocolo">
                </div>
                <div class="form-group">
                    <label for="inputDescricao">Descrição da solicitação</label>
                    <textarea class="form-control" id="inputDescricao" placeholder="Descrição da solicitação" rows="3"></textarea>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-danger btn-block">Cancelar</button>
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-primary btn-block">Enviar</button>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>